/* GLOBAL */
.popup{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 50%;
  /* height: 100%; */
  overflow: scroll;
  /* background-color: #312a2a79; */
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20px;
}

.closePopUp {
  color: #f02d35;
  float: right;
  font-size: 48px;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 10px;
}

.closePopUp:hover,
.closePopUp:focus {
  color: #f02d33bd;
  text-decoration: none;
  cursor: pointer;
}
::-webkit-scrollbar{
  display: none;
}
/* ***************************************************** HEADER CSS *************************** */
.header{
  background-color: #D3D9E0;
  padding-top: 10px;
  height: 70vh;
  width: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
.header_left{
  flex: 3/4;
}
.main_title{
  line-height: 10px;
  padding-bottom: 10px;
 
}
.header_desc{
  line-height: 5px;
  color: #747E8F; 
}
.blue{
  color: #313BAC;
}
.btn{
  padding-top: 40px;
  display: flex;
  flex-direction: row; 
  justify-content: flex-start;
  align-items: center;

}
.header_btn{
 padding-top: 10px;
 margin-right: 40px;
  outline: none;
  color: #ffffff;
  background-color: #ff523b;
  padding: 5px;
  /* border-radius: 10px; */
  border: none;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  /* box-shadow:  5px 5px 35px #bbbfc4,
           -5px -5px 35px #ffffff; */
}
.header_btn:hover{
  background-color: #ff523baf;
  color: #ffffff;
}
.header_images{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header_img{
  height: 70vh;
  width: auto;
  object-fit: contain;
}
.line-break {
  height: 1px; /* sets height of line break to 1 pixel */
  background-color: rgba(15, 19, 107, 0.603); /* sets background color of line break to black */
  margin: 0 15px; /* adds margin to top and bottom of line break */
}
/* *************************************** Product CARD ****************************** */
.shopping-card {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    width: 200px;
    border-radius: 10px;
    margin: 20px;
    background-color: #ffffff;
    
  }
  a{
    text-decoration: none;
    color: #000000;
    font-family: 'Roboto', sans-serif;
  }
  .shopping-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  /* img and card details */
  .cardGlobal{
    display: flex;
    flex-direction: column;
  }
  .product-image {
    border-radius: 20px;
    margin-top: 10px;
    width: 100%;
    height: 150px;
    object-fit: contain;
  }
  
  .product-details {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .product-name {
    color: black;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    text-decoration: none;
  }
  .card_dec{
    color: #383636;
  }
  .product-rating {
    color: #ff523b;
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .product-rating-count {
    font-size: 14px;
    margin-left: 1px;
  }
  .product-total-rating-count{
    font-size: 11px;
    margin-left: 5px;
    color: #747E8F;
  }
  .product-title{
    font-size: 14px;
   
  }
  .store_name2{
    border: 1px solid #ff523b;
    padding: 5px;
    font-size: 11px;
    color: #747E8F;
  }
  .bottom_ratings{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items:center;
    margin-top: -15px;
    margin-bottom: 10px;
    margin-left: 10PX;
    margin-right: 10PX;
  }
  .price{
    font-size: 14px;
    color: #747E8F;
  }
  .btn-cart{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: none;
    background-color: #ff523b;
    color: #ffffff;
    z-index: 1;
    cursor: pointer;
  }


/* ************************************ testimonials *************************** */
.testimonials-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.testimonials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: #1c2431;
    border-radius: 10px;
    width: 300px;
    background-color: #ffffff;
    padding: 10px;
    margin: 20px;
    border-radius: 22px;
/* background: #e0e0e0; */
box-shadow:  5px 5px 10px #cccccc,
             -5px -5px 10px #f4f4f4;
}
.quotes{
    width: 40px;
    height: 40px;
    object-fit: contain;
}
.testimonials-feedback{
    color: #747E8F;
    text-align: center;
}
.testimonials-img{
  width: 80px;
  height: 80px;
  object-fit: contain;
  border-radius: 100%;
}
.testimonials-name{
       color: #747E8F;
       font-weight: bold;
}
.material-icons {
  color: #f02d35;
}

/* ***************************************** Features ******************************* */
.features{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.features-header{
    text-align: center;
    color: #f02d35;
}
.features-desc{
    color: #747E8F;
    text-align: center;
}
.features .img {
    position: relative;
    width: 20%;
    height: 250px;
    margin: 10px;
}
.img img{
    width: 100%;
    height: 100%;
}
.f-hover{
    display: none;
}
.features img:hover + .f-hover{
    display: block;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f02d35;
    color: #FFFFFF;
    position: absolute;
    bottom: 5px;
}

/* ************************************************ Responsives **************************** */
  @media screen and (max-width: 768px) {
    .header{
      display: flex;
      flex-direction: column;
      height: auto;
      
      
  }
  .main_title{
      font-size: 14px;
      padding-bottom: 5px;
  }
  .btn{
      padding-top: 30px;
  }
  .header_img{
      object-fit: contain;
  }
  .main_title{
      line-height: normal;
      padding-bottom: 0;
  }
  .main_title h1 {
      margin-bottom: -10px;
  }
  .header_desc{
      white-space: wrap;
      line-height: normal;
      color: #747E8F; 
  }
  .header_desc p {
      margin-bottom: -10px;
  }
    /* ************************************* PRODUCTS  CARDS  *************************/
    .shopping-card {
        width: 200px;
      }
      .product-image {
        width: 100%;
        height: auto;
      }
      .product-details {
        margin-top: 5px;
        padding-left: 2px;
        padding-right: 2px;
      }
      .card_dec{
        font-size: 13px;
      }
      .bottom_ratings{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
      .product-rating { 
        margin: 0 0;
        margin-bottom: 3px;
        margin-top: 0px;
      }
      /* ******************************************** Features ********************** */
    .features{
        margin-bottom: 20px;
    }
    .features .img {
        position: relative;
        width: 30%;
        height: 150px;
        margin: 5px;
    }
    .f-hover{
        font-size: small;
    }
  }

