body{
    margin: 0;
    padding: 0;
  }
    
.header{
    /* margin-top: -18px; */
    padding-top: 10px;
    height: auto;
    width: 100%;
    /* background-color: red; */
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header_left{
    flex: 3/4;
}
.main_title{
    line-height: 10px;
    padding-bottom: 10px;
   
}
.header_desc{
    line-height: 5px;
    color: #747E8F;
   
}
.blue{
    color: #313BAC;
}
.btn{
    padding-top: 40px;
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
    align-items: center;

}
.header_btn{
   padding-top: 10px;
   margin-right: 40px;
    outline: none;
    color: #313BAC;
    background-color: #ff523b;
    padding: 5px;
    /* border-radius: 10px; */
    border: none;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
}
.header_btn:hover{
    background-color: #313BAC;
    color: #ff523b;
}
.header_images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header_img{
    height: auto;
    width: auto;
    object-fit: contain;
}
.line-break {
    height: 1px; /* sets height of line break to 1 pixel */
    background-color: rgba(15, 19, 107, 0.603); /* sets background color of line break to black */
    margin: 0 15px; /* adds margin to top and bottom of line break */
  }
@media screen and (max-width: 768px) {
    .header{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        height: auto;
        margin-left: 20px;
        margin-right: 20px;
        
    }
    .main_title{
        font-size: 14px;
        padding-bottom: 5px;
    }
    .btn{
        padding-top: 20px;
    }
}