body{
    /* #EDF2F8 */
    background-color: #EDF2F8;
    margin-top: 0;
    padding: 0;
    overflow-x: hidden;
}
.top{
    background-color: #EDF2F8;
    height: auto;
}
/* *****************************************Best Seller Products************************* */
.seller_products{
    /* background-color: #ffffff; */
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}
.text{
    text-align: center;
}

.text p {
    color: #747E8F;
}
.best-seller-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.index-card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 200px;
}
.imgdiv{
    width: 100%;
    background-color: #EDF2F8;
    border-radius: 10px;
}
.img{
    width: 90%;
    margin: 10px;
    height: 100%;
    object-fit: contain;

}
.card-text{
    line-height: 1px;
}
.img-title{
    color: #747E8F;
}
.img-price{
    font-weight: bold;
}
.material-icons{
    margin-top: 0;
    color: #ff523b;
}

/* *********************************** BANNER **********************************************************/
.banner{
    margin-top: 70px;
    width: 95%;
    height: auto;
    background-color: #f02d35;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    border-radius: 10px;
}
.banner-items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-left: 30px;
}
.banner-imag-tag{
    margin-top: -80px;
    width: 300px;
    height: 300px;
    object-fit: contain;
}
.banner-left{
    color: #ffffff;
}
.banner-left h1{
    font-size:xx-large;
     line-height: 10px; 
}
.banner-left p{
    font-size: small;
    
}
.banner-right{
    color: #ffffff;
    line-height: 10px;
}
.banner-right p {
    color: #EDF2F8;
    font-size: small;
}
.btn-banner{
    padding: 10px 30px;
    color: #f02d35;
    font-weight: bold;
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
}
/* REMOVE SCROLL BAR */
::-webkit-scrollbar {
    display: none;
  }
@media screen and (max-width: 768px) {
    .best-seller-cards{
        width: auto;
        overflow-x: scroll;
        background-color: #d7e5f5;
        padding-top: 10px;
        padding-left: 100px;
    }
    .index-card{
        width: 100%;
    }
    .imgdiv{
        width: 100%;
        background-color: #EDF2F8;
        border-radius: 10px;
    }
    .img{
        width: 200px;
        height: auto;
        object-fit: contain;
    
    }
    /* banner */
    .banner{
        position: relative;
    }
    .banner-imag-tag{
        position: absolute;
        right:  -20px;
        top: 0px;
        transform: rotate(40deg);
        width: 150px;
        height: 150px;
        object-fit: contain;
    }
    .banner-right{
        line-height: normal;
        margin-left: 20px;
    }
}