body{
  width: 100%;
  height: auto;
  background-color: #EDF2F8;
}
.cardinIndividualPage {
  height:max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  background-color: #EDF2F8;
  
}
/* Slider Container */
.container {
  position: relative;
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}
/* all slide images */
.images {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* sing/e image slide */
.slideImage {
  width: 70%;
  height: 100%;
  object-fit: contain;
  margin: auto;
  transition: transform 0.2s ease-out;
}


/* *********************************************************************** */


/* Hide the images by default */
.mySlides {
  position: relative;
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  background-color: #ff523b;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 2px;
  border-radius: 0 3px 3px 0;
  position: absolute;
  left: 100%;
  width: 50px;
}
.prev {
  position: absolute;
  left: 20%;
  border-radius: 3px 0 0 3px;
  z-index: 1;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}
.row {
  position: absolute;
  top: 10;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 25%;
  height: auto;
  margin: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  
}

/* Add a transparency effect for thumnbail images */
.demo {
  /* opacity: 0.6; */
  width:50px; 
  height:50px;
  margin-top: 2px;
  margin-left: 20px;
  padding: 3px;
  border-radius: 7px;
background: #ffffff;
box-shadow:  6px 6px 12px #e3e3e3,
             -6px -6px 12px #ffffff;

}

.active,
.demo:hover {
  /* opacity: 1; */
  border: 2px solid black;
  padding: 1px;
  border-radius: 5px;
}

/* *********************** The right SIDE ***************************************/
.right {
  margin-left: 80px;
  width: 50%;
  height: auto;
}
.lightColor{
  color: #696464;
  font-weight: normal;
}
.bold{
  color: #000000;
  font-weight: bold;
}
.inStock{
  width: 90px;
  padding: 3px;
  font-weight: bold;
  background-color: #cfcfcf;
}
.price{
  color: #ff523b;
  font-weight: bold;
}
hr{
  margin-top: 20px;
  margin-right: 20px;
}

/* counter */
.quantity-counter {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 30px;
  border-radius: 4px;
  overflow: hidden;
  background-color: transparent;
  border-radius: 25px;
}

.quantity {
  font-size: 16px;
  font-weight: bold;
  padding: 0 0px;
  border-radius: 25px;
}

.counter-button {
  width: 30px;
  height: 30px;
  background-color: #ff523b;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  color: #ffffff;
}

.counter-button:focus {
  outline: none;
}

button:hover {
  background-color: #ff523b96;
}

/* buttons */
.buttons{
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.buttons .btn{
  margin-right: 40px;
  width: 120px;
  padding: 10px;
  border: none;
  border-radius: 7px;
  background-color: #ff523b;
  color: #ffffff;
}
.btn:hover{
  background-color: #ff523bc7;
}

/* ***************************************************** relatedProduct *************** */
#relatedProduct{
 margin-top: 20px;
 row-gap: 10px;
 width: auto;
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 overflow-x: scroll;
}
.relatedProductTitle{
  margin-left: 10px;
  color: #313BAC;
}
::-webkit-scrollbar{
  display: none;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .cardinIndividualPage {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .row {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
    margin-right: 5px;
  }
  /* all slide images */
  .images {
    position: relative;
    width: 100%;
    height: auto;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .next {
    top: 40%;
    right: 0;
    border-radius: 3px 0 0 3px;
    position: absolute;
    left: 88%;
    width: 50px;
  }
  .prev {
    top: 40%;
    position: absolute;
    left: 0;
    border-radius: 3px 0 0 3px;
    z-index: 1;
  }
  .demo{
    margin: 2px;
  }
  .right{
    width: 100%;
    overflow-x:  hidden;
    margin-left: 10px;
  }
}
