/* Global styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #EDF2F8;
}
h1{
  text-align: center;
}
h1, h2, h3 {
  font-weight: bold;
  color: #ff523b;
}

a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.privacy {
  max-width: 70%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  margin-top: 0;
}

h2 {
  margin-top: 30px;
}

p {
  margin-bottom: 20px;
}

ul, ol {
  margin-bottom: 20px;
}

li {
  margin-bottom: 5px;
}

/* Footer styles */
footer {
  background-color: #f2f2f2;
  color: #333;
  padding: 10px;
  text-align: center;
}
p,li{
  font-weight: normal;
}
/* Responsive styles */
@media screen and (max-width: 768px) {
  .privacy{
    width: 90%;
    padding: 0px;
  }
}