.product-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}


.rating .fa{
    color: #ff523b;
}

.col-4:hover{
    transform: translateY(-5px);
}