<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>

<body>
    <footer class="footer">
        <!-- address -->
        <div class="col">
            <h1 class="col-title">NomaStore</h1>
            <div class="subcol">
                <span class="col-header">Address: &nbsp;&nbsp; <span class="col-info">Chirom, Nairobi Kenya</span></span>
                <span class="col-header">Phone: &nbsp;&nbsp; <span class="col-info">+254725151165</span></span>
                <span class="col-header">Email: &nbsp;&nbsp; <span class="col-info">abdiladifhassan115@gmail.com</span></span>
            </div>
            <img class="payments" src="../../assets/payment.png" alt="payments">

        </div>
        <!-- usefull links -->
        <div class="col">
            <h2 class="col-title">Usefull Links</h2>
            <div class="subcol">
                <a href="../../index.html" target="_top" class="col-info">Home</a>
                <a href="../products.html" target="_top" class="col-info">Products</a>
                <a href="../shop.html" target="_top" class="col-info">Shops</a>
                <a href="../cart.html" target="_top" class="col-info">Cart</a>
                <a href="../about.html" target="_top" class="col-info">About Us</a>
                <a href="../privacy.html" target="_top" class="col-info">Privacy Policy</a>
            </div>
        </div>
        <!-- Social Media links -->
        <div class="col">
              <h2 class="col-title">Follow Us</h2>
              <div class="subcol">
                <a href="https://github.com/Hassan-jr?tab=repositories" class="col-info">GitHub</a>
                <a href="https://www.linkedin.com/in/abdiladif-hassan-524168213" class="col-info">LinkedIn</a>
                <a href="https://www.facebook.com/updiladiph.hersonadan" class="col-info">Facebook</a>
                <a href="http://instagram.com/hassan_jr_1?utm_source=qr" class="col-info">Instagrame</a>
                <a href="https://twitter.com/Hassan_jr_1?t=1Smv-fiNx7iVvsFEoyXvPg&s=09" class="col-info">Twitter</a>
              </div>

        </div>
        <hr>
        <p class="copyright">&copy; 2023<a href="https://www.hassanjr.com/">Hassanjr</a> All Rights Reserved</p>
       
    </footer>
</body>

</html>